/*------------------------------------*\
    #THIRD-PARTY-IMPORTS
\*------------------------------------*/
/* line 5, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*------------------------------------*\
    #MY-MODULES
\*------------------------------------*/
/* line 71, ../sass/modules/_colors.scss */
.segment {
  float: left;
  fill: #74c044;
  background-color: #74c044;
  border-right: 1px solid #1e1e1a;
}

/* line 79, ../sass/modules/_colors.scss */
.legend-item {
  display: inline;
}

/* line 83, ../sass/modules/_colors.scss */
.legend__segment {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-right: 0.25rem;
}

/* line 89, ../sass/modules/_colors.scss */
.legend__chip {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

/* line 96, ../sass/modules/_colors.scss */
.legend-item {
  color: #1e1e1a;
}

/* line 100, ../sass/modules/_colors.scss */
.legend-item--chip {
  color: #fff8cd;
}

/* line 104, ../sass/modules/_colors.scss */
#legend__segment-chorus {
  background-color: #ffce06;
}

/* line 105, ../sass/modules/_colors.scss */
#legend__segment-verse {
  background-color: #57caef;
}

/* line 106, ../sass/modules/_colors.scss */
#legend__segment-bridge {
  background-color: #ee3766;
}

/* line 107, ../sass/modules/_colors.scss */
#legend__segment-break {
  background-color: #74c044;
}

/* line 108, ../sass/modules/_colors.scss */
#legend__segment-intro {
  background-color: #555244;
}

/* line 109, ../sass/modules/_colors.scss */
#legend__segment-instrumental {
  background-color: #74c044;
  background: linear-gradient(135deg, #fff8cd 25%, rgba(0, 0, 0, 0) 25%) -2px 0, linear-gradient(225deg, #fff8cd 25%, rgba(0, 0, 0, 0) 25%) -2px 0, linear-gradient(315deg, #fff8cd 25%, rgba(0, 0, 0, 0) 25%), linear-gradient(45deg, #fff8cd 25%, rgba(0, 0, 0, 0) 25%);
  background-size: 4px 4px;
  background-color: transparent;
}

/* line 114, ../sass/modules/_colors.scss */
#legend__segment-variant {
  background-color: #fff8cd;
  background-image: radial-gradient(#1e1e1a 24%, rgba(0, 0, 0, 0) 26%), radial-gradient(#1e1e1a 24%, rgba(0, 0, 0, 0) 26%);
  background-size: 6px 6px;
  background-position: 0 0, 3px 3px;
}

/* line 119, ../sass/modules/_colors.scss */
#legend__authorship__paul {
  background-color: #ffce06;
}

/* line 120, ../sass/modules/_colors.scss */
#legend__authorship__john {
  background-color: #57caef;
}

/* line 121, ../sass/modules/_colors.scss */
#legend__authorship__george {
  background-color: #74c044;
}

/* line 122, ../sass/modules/_colors.scss */
#legend__authorship__ringo {
  background-color: #A052A0;
}

/* line 123, ../sass/modules/_colors.scss */
#legend__authorship__other {
  background-color: #666666;
}

/* line 124, ../sass/modules/_colors.scss */
#legend__authorship__cowritten {
  background-color: #ED2126;
}

/* line 127, ../sass/modules/_colors.scss */
.segment_intro--variant,
.segment_outro--variant,
.segment_verse--variant,
.segment_chorus--variant,
.segment_bridge--variant,
.segment_break--variant {
  background-image: radial-gradient(#1e1e1a 24%, rgba(0, 0, 0, 0) 26%), radial-gradient(#1e1e1a 24%, rgba(0, 0, 0, 0) 26%);
  background-size: 6px 6px;
  background-position: 0 0, 3px 3px;
}

/* line 136, ../sass/modules/_colors.scss */
.segment_verse--instrumental,
.segment_chorus--instrumental,
.segment_bridge--instrumental,
.segment_break--instrumental {
  background: linear-gradient(135deg, #1e1e1a 25%, rgba(0, 0, 0, 0) 25%) -2px 0, linear-gradient(225deg, #1e1e1a 25%, rgba(0, 0, 0, 0) 25%) -2px 0, linear-gradient(315deg, #1e1e1a 25%, rgba(0, 0, 0, 0) 25%), linear-gradient(45deg, #1e1e1a 25%, rgba(0, 0, 0, 0) 25%);
  background-size: 4px 4px;
  background-color: transparent;
}

/* line 144, ../sass/modules/_colors.scss */
.segment_silence {
  fill: #555244;
  background-color: #555244;
  border-right: none;
}

/* line 152, ../sass/modules/_colors.scss */
.segment_intro,
.segment_outro,
.segment_intro--variant,
.segment_outro--variant {
  fill: #555244;
  background-color: #555244;
}

/* line 160, ../sass/modules/_colors.scss */
.segment_verse,
.segment_verse--variant,
.segment_verse--instrumental {
  fill: #57caef;
  background-color: #57caef;
}

/* line 167, ../sass/modules/_colors.scss */
.segment_chorus,
.segment_chorus--variant,
.segment_chorus--instrumental {
  fill: #ffce06;
  background-color: #ffce06;
}

/* line 174, ../sass/modules/_colors.scss */
.segment_bridge,
.segment_bridge--variant,
.segment_bridge--instrumental {
  fill: #ee3766;
  background-color: #ee3766;
}

/* line 181, ../sass/modules/_colors.scss */
.segment_break,
.segment_break--variant,
.segment_break--instrumental {
  fill: #74c044;
  background-color: #74c044;
}

/* line 189, ../sass/modules/_colors.scss */
.span--i_ntro {
  color: #88857c;
}

/* line 193, ../sass/modules/_colors.scss */
.span--v_erse {
  color: #57caef;
}

/* line 197, ../sass/modules/_colors.scss */
.span--c_horus {
  color: #ffce06;
}

/* line 201, ../sass/modules/_colors.scss */
.span--b_ridge {
  color: #ee3766;
}

/* line 206, ../sass/modules/_colors.scss */
.span--i_nstrumental {
  color: white;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: white;
}

/* line 214, ../sass/modules/_colors.scss */
.span--v_ariant {
  color: white;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: white;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}
/*------------------------------------*\
    #CONFIGURE-COMPASS-VERTICAL-RHYTHM
\*------------------------------------*/
/* line 106, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 41, ../sass/partials/_base.scss */
html {
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5rem;
}

/*------------------------------------*\
    #DEBUGGING
\*------------------------------------*/
/*------------------------------------*\
    #CONFIG-SUSY
\*------------------------------------*/
/* line 14, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* #SUSY-GRID-VARIABLES------------ */
/* #CONFIG-GRID-MAIN------------ */
/* line 32, ../sass/partials/_grid.scss */
.grid--main {
  max-width: 464px;
  max-width: 29rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* line 12, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.grid--main:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 40rem) {
  /* line 32, ../sass/partials/_grid.scss */
  .grid--main {
    max-width: 944px;
    max-width: 59rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 64rem;
  }
  /* line 12, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .grid--main:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 48, ../sass/partials/_grid.scss */
html, body {
  height: 100%;
  margin: 0;
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
/* line 64, ../sass/partials/_grid.scss */
.site-header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 8px;
  margin-top: 0.5rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 69, ../sass/partials/_grid.scss */
.page-body-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 73, ../sass/partials/_grid.scss */
.page-header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
@media (min-width: 40rem) {
  /* line 73, ../sass/partials/_grid.scss */
  .page-header {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 52rem) {
  /* line 73, ../sass/partials/_grid.scss */
  .page-header {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
}

/* line 86, ../sass/partials/_grid.scss */
.site-header__site-title-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 40rem) {
  /* line 86, ../sass/partials/_grid.scss */
  .site-header__site-title-container {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}

/* line 94, ../sass/partials/_grid.scss */
.site-header__nav2 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 40rem) {
  /* line 94, ../sass/partials/_grid.scss */
  .site-header__nav2 {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    text-align: right;
  }
}

/*------------------------------------*\
    #THUMBNAIL-INDEX
\*------------------------------------*/
/* line 108, ../sass/partials/_grid.scss */
.thumb-index {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 112, ../sass/partials/_grid.scss */
.thumb-index__thumb {
  background-color: #555244;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  height: 10rem;
}

@media (min-width: 40rem) {
  /* line 119, ../sass/partials/_grid.scss */
  .thumb--primary {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    height: 15rem;
  }
}

@media (min-width: 40rem) {
  /* line 126, ../sass/partials/_grid.scss */
  .thumb--secondary {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    height: 15rem;
  }
}

@media (min-width: 40rem) {
  /* line 133, ../sass/partials/_grid.scss */
  .thumb--tertiary {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    height: 10rem;
  }
}

@media (min-width: 40rem) {
  /* line 140, ../sass/partials/_grid.scss */
  .thumb--tertiary:last-child {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}

/*------------------------------------*\
    #STATIC-GRAPHICS
\*------------------------------------*/
/* line 151, ../sass/partials/_grid.scss */
.static-graphic {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/*------------------------------------*\
    #CONTEXT-CONTAINER
\*------------------------------------*/
/* line 160, ../sass/partials/_grid.scss */
#context-container-wrapper {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 32px;
  margin-top: 2rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

/* line 165, ../sass/partials/_grid.scss */
#context-container,
.context-container__legend-container,
.context-container__axis-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background-color: #1e1e1a;
}

/* line 172, ../sass/partials/_grid.scss */
.context-container__axis-container {
  margin-top: 8px;
  margin-top: 0.5rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

/* line 176, ../sass/partials/_grid.scss */
#context-container__axis-container__axis {
  margin-left: 25.42373%;
}

/* line 181, ../sass/partials/_grid.scss */
.context-container__legend-container {
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 8px;
  padding-top: 0.5rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

/*------------------------------------*\
    #TIMELINE
\*------------------------------------*/
/* line 190, ../sass/partials/_grid.scss */
.album-container,
.album-container__label-container,
.track-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 197, ../sass/partials/_grid.scss */
.album-container {
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 16px;
  padding-top: 1rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}

/* line 202, ../sass/partials/_grid.scss */
.track-container__label-container {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}

/* line 206, ../sass/partials/_grid.scss */
.track-container__graphic-container {
  width: 74.57627%;
  float: right;
  margin-right: 0;
}

/* line 210, ../sass/partials/_grid.scss */
.track-container__graphic-container__graphic-wrapper,
.track-container__graphic-container__notes-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/*------------------------------------*\
    #TYPE-VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/
/* line 16, ../sass/partials/_typography.scss */
html {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  color: #fff8cd;
}

/* line 21, ../sass/partials/_typography.scss */
a {
  color: #fff8cd;
  text-decoration: none;
}

/* line 26, ../sass/partials/_typography.scss */
a:hover,
.body-copy a:hover {
  color: #ee3766;
}

/* line 31, ../sass/partials/_typography.scss */
.body-copy a {
  color: #ffce06;
}

/*------------------------------------*\
    #NAV
\*------------------------------------*/
/* line 40, ../sass/partials/_typography.scss */
.nav2__link {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  font-size: 13px;
  font-size: 0.8rem;
  line-height: 13px;
  line-height: 0.82813rem;
  margin-left: 0.5rem;
  letter-spacing: 0.5px;
  color: #fff8cd;
  background-color: #1e1e1a;
  text-transform: uppercase;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #fff8cd;
}

/* line 59, ../sass/partials/_typography.scss */
.nav2__link:hover {
  cursor: pointer;
  color: #1e1e1a;
  background-color: #ee3766;
  border-color: #ee3766;
}

/* line 66, ../sass/partials/_typography.scss */
.nav2__link--next-tag {
  font-size: 8px;
  font-size: 0.5rem;
  line-height: 8px;
  line-height: 0.51563rem;
  font-weight: 500;
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
/* line 76, ../sass/partials/_typography.scss */
.site-header__site-title-container__site-title {
  font-size: 32px;
  font-size: 2rem;
  line-height: 32px;
  line-height: 2.01563rem;
  font-weight: 500;
  margin-top: 8px;
  margin-top: 0.5rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

/* line 82, ../sass/partials/_typography.scss */
.page-header__subheader {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  line-height: 2rem;
  font-weight: 200;
}

/* line 87, ../sass/partials/_typography.scss */
.context-container__axis-container,
#context-container__axis-container__axis {
  font-size: 13px;
  font-size: 0.8rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 96, ../sass/partials/_typography.scss */
#context-container__axis-container__axis {
  font-weight: 100;
}

/*------------------------------------*\
    #TIMELINE
\*------------------------------------*/
/* line 104, ../sass/partials/_typography.scss */
.album-container__label-container__label {
  font-size: 32px;
  font-size: 2rem;
  line-height: 32px;
  line-height: 2.01563rem;
  font-weight: 500;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 111, ../sass/partials/_typography.scss */
.track-container__label-container {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

/* line 124, ../sass/partials/_typography.scss */
.track-container:hover {
  cursor: pointer;
  background-color: #292925;
}
/* line 128, ../sass/partials/_typography.scss */
.track-container:hover .track-container__label-container__label {
  color: #ee3766;
}

/* line 134, ../sass/partials/_typography.scss */
.track-container--collapsed .track-container__label-container__label {
  overflow: hidden;
  font-size: 13px;
  font-size: 0.8rem;
  line-height: 24px;
  line-height: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-weight: 300;
}

/* line 148, ../sass/partials/_typography.scss */
.track-container--expanded {
  border-top: 1px dotted #fff8cd;
  border-bottom: 1px dotted #fff8cd;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 8px;
  padding-top: 0.5rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}
/* line 153, ../sass/partials/_typography.scss */
.track-container--expanded .track-container__label-container__label {
  font-size: 64px;
  font-size: 4rem;
  line-height: 64px;
  line-height: 4.01563rem;
  font-weight: 100;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  color: #ee3766;
}

/* line 167, ../sass/partials/_typography.scss */
.track-container__graphic-container__notes-container__note-list {
  margin-top: 16px;
  margin-top: 1rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  list-style-type: disc;
  padding-left: 1.1rem;
}

/* line 173, ../sass/partials/_typography.scss */
.note-list__note {
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/
/* line 5, ../sass/partials/_skin.scss */
html {
  background-color: #1e1e1a;
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
/* line 18, ../sass/partials/_skin.scss */
.nav__link {
  border-bottom: 1px solid #fff8cd;
}

/* line 22, ../sass/partials/_skin.scss */
.nav__link:hover {
  border-bottom: 1px solid #ee3766;
}
/* line 24, ../sass/partials/_skin.scss */
.nav__link:hover a {
  color: #ee3766;
}

/*------------------------------------*\
    #TIMELINE
\*------------------------------------*/
/* line 36, ../sass/partials/_skin.scss */
.album-container {
  border-top: 1px solid #fff8cd;
}

/* line 45, ../sass/partials/_skin.scss */
.album-container:first-child {
  border-top: none;
}
