/*------------------------------------*\
    #THIRD-PARTY-IMPORTS
\*------------------------------------*/
/* line 5, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*------------------------------------*\
    #MY-MODULES
\*------------------------------------*/
/* line 71, ../sass/modules/_colors.scss */
.segment {
  float: left;
  fill: #74c044;
  background-color: #74c044;
  border-right: 1px solid #1e1e1a;
}

/* line 78, ../sass/modules/_colors.scss */
.segment--empty {
  border-right: none;
}

/* line 83, ../sass/modules/_colors.scss */
.legend-item {
  display: inline;
}

/* line 87, ../sass/modules/_colors.scss */
.legend__segment {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-right: 0.25rem;
}

/* line 93, ../sass/modules/_colors.scss */
.legend__chip {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

/* line 100, ../sass/modules/_colors.scss */
.legend-item {
  color: #1e1e1a;
}

/* line 104, ../sass/modules/_colors.scss */
.legend-item--chip {
  color: #fff8cd;
}

/* line 108, ../sass/modules/_colors.scss */
#legend__segment-chorus {
  background-color: #ffce06;
}

/* line 109, ../sass/modules/_colors.scss */
#legend__segment-verse {
  background-color: #57caef;
}

/* line 110, ../sass/modules/_colors.scss */
#legend__segment-bridge {
  background-color: #ee3766;
}

/* line 111, ../sass/modules/_colors.scss */
#legend__segment-break {
  background-color: #74c044;
}

/* line 112, ../sass/modules/_colors.scss */
#legend__segment-intro {
  background-color: #555244;
}

/* line 113, ../sass/modules/_colors.scss */
#legend__segment-instrumental {
  background-color: #74c044;
  background: linear-gradient(135deg, #fff8cd 25%, rgba(0, 0, 0, 0) 25%) -2px 0, linear-gradient(225deg, #fff8cd 25%, rgba(0, 0, 0, 0) 25%) -2px 0, linear-gradient(315deg, #fff8cd 25%, rgba(0, 0, 0, 0) 25%), linear-gradient(45deg, #fff8cd 25%, rgba(0, 0, 0, 0) 25%);
  background-size: 4px 4px;
  background-color: transparent;
}

/* line 118, ../sass/modules/_colors.scss */
#legend__segment-variant {
  background-color: #fff8cd;
  background-image: radial-gradient(#1e1e1a 24%, rgba(0, 0, 0, 0) 26%), radial-gradient(#1e1e1a 24%, rgba(0, 0, 0, 0) 26%);
  background-size: 6px 6px;
  background-position: 0 0, 3px 3px;
}

/* line 123, ../sass/modules/_colors.scss */
#legend__authorship--john {
  background-color: #57caef;
}

/* line 124, ../sass/modules/_colors.scss */
#legend__authorship--paul {
  background-color: #ffce06;
}

/* line 125, ../sass/modules/_colors.scss */
#legend__authorship--george {
  background-color: #ee3766;
}

/* line 126, ../sass/modules/_colors.scss */
#legend__authorship--ringo {
  background-color: #74c044;
}

/* line 127, ../sass/modules/_colors.scss */
#legend__authorship--other {
  background-color: #666666;
}

/* line 128, ../sass/modules/_colors.scss */
#legend__authorship--cowritten {
  background-color: #A052A0;
}

/* line 132, ../sass/modules/_colors.scss */
#legend__selfreference--implicit {
  background-color: #ee3766;
}

/* line 133, ../sass/modules/_colors.scss */
#legend__selfreference--explicit {
  background-color: #ffce06;
}

/* line 134, ../sass/modules/_colors.scss */
#legend__selfreference--melodic {
  background-color: #57caef;
}

/* line 136, ../sass/modules/_colors.scss */
#legend__schedule--recording {
  background-color: #ee3766;
}

/* line 137, ../sass/modules/_colors.scss */
#legend__schedule--filming {
  background-color: #ffce06;
}

/* line 138, ../sass/modules/_colors.scss */
#legend__schedule--touring {
  background-color: #57caef;
}

/* line 140, ../sass/modules/_colors.scss */
#legend__tonality--major {
  background-color: #ffce06;
}

/* line 141, ../sass/modules/_colors.scss */
#legend__tonality--minor {
  background-color: #57caef;
}

/* line 142, ../sass/modules/_colors.scss */
#legend__tonality--diatonic {
  background-color: #ee3766;
}

/* line 146, ../sass/modules/_colors.scss */
.segment_intro--variant,
.segment_outro--variant,
.segment_verse--variant,
.segment_chorus--variant,
.segment_bridge--variant,
.segment_break--variant {
  background-image: radial-gradient(#1e1e1a 24%, rgba(0, 0, 0, 0) 26%), radial-gradient(#1e1e1a 24%, rgba(0, 0, 0, 0) 26%);
  background-size: 6px 6px;
  background-position: 0 0, 3px 3px;
}

/* line 155, ../sass/modules/_colors.scss */
.segment_verse--instrumental,
.segment_chorus--instrumental,
.segment_bridge--instrumental,
.segment_break--instrumental {
  background: linear-gradient(135deg, #1e1e1a 25%, rgba(0, 0, 0, 0) 25%) -2px 0, linear-gradient(225deg, #1e1e1a 25%, rgba(0, 0, 0, 0) 25%) -2px 0, linear-gradient(315deg, #1e1e1a 25%, rgba(0, 0, 0, 0) 25%), linear-gradient(45deg, #1e1e1a 25%, rgba(0, 0, 0, 0) 25%);
  background-size: 4px 4px;
  background-color: transparent;
}

/* line 163, ../sass/modules/_colors.scss */
.segment_silence {
  fill: #555244;
  background-color: #555244;
  border-right: none;
}

/* line 171, ../sass/modules/_colors.scss */
.segment_intro,
.segment_outro,
.segment_intro--variant,
.segment_outro--variant {
  fill: #555244;
  background-color: #555244;
}

/* line 179, ../sass/modules/_colors.scss */
.segment_verse,
.segment_verse--variant,
.segment_verse--instrumental {
  fill: #57caef;
  background-color: #57caef;
}

/* line 186, ../sass/modules/_colors.scss */
.segment_chorus,
.segment_chorus--variant,
.segment_chorus--instrumental {
  fill: #ffce06;
  background-color: #ffce06;
}

/* line 193, ../sass/modules/_colors.scss */
.segment_bridge,
.segment_bridge--variant,
.segment_bridge--instrumental {
  fill: #ee3766;
  background-color: #ee3766;
}

/* line 200, ../sass/modules/_colors.scss */
.segment_break,
.segment_break--variant,
.segment_break--instrumental {
  fill: #74c044;
  background-color: #74c044;
}

/* line 208, ../sass/modules/_colors.scss */
.span--i_ntro {
  color: #88857c;
}

/* line 212, ../sass/modules/_colors.scss */
.span--v_erse {
  color: #57caef;
}

/* line 216, ../sass/modules/_colors.scss */
.span--c_horus {
  color: #ffce06;
}

/* line 220, ../sass/modules/_colors.scss */
.span--b_ridge {
  color: #ee3766;
}

/* line 225, ../sass/modules/_colors.scss */
.span--i_nstrumental {
  color: white;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: white;
}

/* line 233, ../sass/modules/_colors.scss */
.span--v_ariant {
  color: white;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: white;
}

/* line 242, ../sass/modules/_colors.scss */
.author--0 {
  background-color: #ffce06;
}

/* line 243, ../sass/modules/_colors.scss */
.author--1 {
  background-color: #57caef;
}

/* line 244, ../sass/modules/_colors.scss */
.author--2 {
  background-color: #ee3766;
}

/* line 245, ../sass/modules/_colors.scss */
.author--3 {
  background-color: #74c044;
}

/* line 246, ../sass/modules/_colors.scss */
.author--4 {
  background-color: #555244;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}
/*------------------------------------*\
    #CONFIGURE-COMPASS-VERTICAL-RHYTHM
\*------------------------------------*/
/* line 106, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 41, ../sass/partials/_base.scss */
html {
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5rem;
}

/*------------------------------------*\
    #DEBUGGING
\*------------------------------------*/
/* line 1, ../sass/partials/_grid.scss */
.hidden {
  display: none;
}

/* line 9, ../sass/partials/_grid.scss */
#form-test .mpzFrmOuter5214 {
  border: none;
  border-top: 1px solid #fff8cd;
}
/* line 14, ../sass/partials/_grid.scss */
#form-test .mpzFrmTitle5214,
#form-test .mpzFrmIntro5214,
#form-test .mpzFrmIntro5214,
#form-test .mpzFrmButton5214 {
  margin: 0;
  padding: 0;
  margin-left: 0;
  padding-left: 0;
}
/* line 24, ../sass/partials/_grid.scss */
#form-test .mpzFrmInput5214 {
  color: #fff8cd;
}
/* line 28, ../sass/partials/_grid.scss */
#form-test .mpzFrmButton5214 {
  margin: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  vertical-align: text-top;
}
/* line 38, ../sass/partials/_grid.scss */
#form-test .mpzFrmOuter5214 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-right: 0;
}
/* line 46, ../sass/partials/_grid.scss */
#form-test #mpzdata-5214-firstname {
  width: 31.03448%;
  float: left;
  margin-right: 3.44828%;
}
/* line 50, ../sass/partials/_grid.scss */
#form-test #mpzdata-5214-email {
  width: 31.03448%;
  float: left;
  margin-right: 3.44828%;
}
/* line 54, ../sass/partials/_grid.scss */
#form-test .mpzFrmButton5214 {
  width: 31.03448%;
  float: right;
  margin-right: 0;
}

/* line 61, ../sass/partials/_grid.scss */
.for-hire-message {
  margin-top: 16px;
  margin-top: 1rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

/*------------------------------------*\
    #CONFIG-SUSY
\*------------------------------------*/
/* line 14, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* #SUSY-GRID-VARIABLES------------ */
/* #CONFIG-GRID-MAIN------------ */
/* line 97, ../sass/partials/_grid.scss */
.grid--main {
  max-width: 464px;
  max-width: 29rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* line 12, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.grid--main:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 40rem) {
  /* line 97, ../sass/partials/_grid.scss */
  .grid--main {
    max-width: 944px;
    max-width: 59rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 64rem;
  }
  /* line 12, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .grid--main:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 113, ../sass/partials/_grid.scss */
html, body {
  height: 100%;
  margin: 0;
}

/* line 123, ../sass/partials/_grid.scss */
.image {
  width: 100%;
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
/* line 133, ../sass/partials/_grid.scss */
.site-header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 8px;
  margin-top: 0.5rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 138, ../sass/partials/_grid.scss */
.page-body-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 142, ../sass/partials/_grid.scss */
.page-header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
@media (min-width: 40rem) {
  /* line 142, ../sass/partials/_grid.scss */
  .page-header {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 52rem) {
  /* line 142, ../sass/partials/_grid.scss */
  .page-header {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
}

/* line 155, ../sass/partials/_grid.scss */
.site-header__site-title-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 40rem) {
  /* line 155, ../sass/partials/_grid.scss */
  .site-header__site-title-container {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}

/* line 163, ../sass/partials/_grid.scss */
.site-header__nav2 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 8px;
  margin-top: 0.5rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
@media (min-width: 40rem) {
  /* line 163, ../sass/partials/_grid.scss */
  .site-header__nav2 {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    margin-top: 0px;
    margin-top: 0rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    text-align: right;
  }
}

/*------------------------------------*\
    #THUMBNAIL-INDEX
\*------------------------------------*/
/* line 179, ../sass/partials/_grid.scss */
.thumb-index {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 184, ../sass/partials/_grid.scss */
.thumb-index__thumb {
  background-color: #555244;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  border: 1px solid #fff8cd;
}

/* line 193, ../sass/partials/_grid.scss */
.thumb-index__thumb:hover {
  border: 1px solid #ee3766;
}

@media (min-width: 40rem) {
  /* line 197, ../sass/partials/_grid.scss */
  .thumb--primary {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
}

@media (min-width: 40rem) {
  /* line 203, ../sass/partials/_grid.scss */
  .thumb--secondary {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 40rem) {
  /* line 209, ../sass/partials/_grid.scss */
  .thumb--tertiary {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}

@media (min-width: 40rem) {
  /* line 215, ../sass/partials/_grid.scss */
  .thumb--tertiary:last-child {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}

/* line 221, ../sass/partials/_grid.scss */
.thumb-index__thumb__img {
  width: 100%;
}

/* line 225, ../sass/partials/_grid.scss */
.index__store-box {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 40rem) {
  /* line 225, ../sass/partials/_grid.scss */
  .index__store-box {
    width: 65.51724%;
    float: left;
    margin-right: 3.44828%;
  }
}

/* line 234, ../sass/partials/_grid.scss */
.index__store-box__image-container {
  width: 13.7931%;
  float: left;
  margin-right: 3.44828%;
}
@media (min-width: 40rem) {
  /* line 234, ../sass/partials/_grid.scss */
  .index__store-box__image-container {
    width: 21.05263%;
    float: left;
    margin-right: 5.26316%;
  }
}

/* line 243, ../sass/partials/_grid.scss */
.index__store-box__text-container {
  width: 82.75862%;
  float: right;
  margin-right: 0;
}
@media (min-width: 40rem) {
  /* line 243, ../sass/partials/_grid.scss */
  .index__store-box__text-container {
    width: 73.68421%;
    float: right;
    margin-right: 0;
  }
}

/* line 251, ../sass/partials/_grid.scss */
.index__signup-box {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 40rem) {
  /* line 251, ../sass/partials/_grid.scss */
  .index__signup-box {
    width: 31.03448%;
    float: right;
    margin-right: 0;
  }
}

/*------------------------------------*\
    #STATIC-GRAPHICS
\*------------------------------------*/
/* line 264, ../sass/partials/_grid.scss */
.static-graphic {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/*------------------------------------*\
    #CONTEXT-CONTAINER
\*------------------------------------*/
/* line 275, ../sass/partials/_grid.scss */
#context-container-wrapper {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 32px;
  margin-top: 2rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

/* line 280, ../sass/partials/_grid.scss */
#context-container,
.context-container__legend-container,
.context-container__axis-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background-color: #1e1e1a;
}

/* line 287, ../sass/partials/_grid.scss */
.context-container__axis-container {
  margin-top: 8px;
  margin-top: 0.5rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

/* line 291, ../sass/partials/_grid.scss */
#context-container__axis-container__axis {
  margin-left: 25.42373%;
}

/* line 296, ../sass/partials/_grid.scss */
.context-container__legend-container {
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 8px;
  padding-top: 0.5rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

/*------------------------------------*\
    #TIMELINE
\*------------------------------------*/
/* line 305, ../sass/partials/_grid.scss */
.album-container,
.album-container__label-container,
.track-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 312, ../sass/partials/_grid.scss */
.album-container {
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 16px;
  padding-top: 1rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}

/* line 317, ../sass/partials/_grid.scss */
.track-container__label-container {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}

/* line 321, ../sass/partials/_grid.scss */
.track-container__graphic-container {
  width: 74.57627%;
  float: right;
  margin-right: 0;
}

/* line 325, ../sass/partials/_grid.scss */
.track-container__graphic-container__graphic-wrapper,
.track-container__graphic-container__notes-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 330, ../sass/partials/_grid.scss */
.track-container__graphic-container__notes-container {
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  padding-right: 2rem;
}

/* line 334, ../sass/partials/_grid.scss */
.video-container__video {
  width: 200px;
  height: 200px;
}

/* line 343, ../sass/partials/_grid.scss */
.domain {
  display: none;
}

/* line 349, ../sass/partials/_grid.scss */
.axis-container--authorship {
  margin-left: 23.72881%;
  width: 74.57627%;
  float: right;
  margin-right: 0;
  margin-top: 40px;
  margin-top: 2.5rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
/* line 362, ../sass/partials/_grid.scss */
footer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 24px;
  margin-top: 1.5rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

/*------------------------------------*\
    #TYPE-VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/
/* line 16, ../sass/partials/_typography.scss */
html {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  color: #fff8cd;
}

/* line 21, ../sass/partials/_typography.scss */
.body-copy {
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  font-weight: 300;
}

/* line 26, ../sass/partials/_typography.scss */
a {
  color: #fff8cd;
  text-decoration: none;
}

/* line 31, ../sass/partials/_typography.scss */
a:hover,
.body-copy a:hover {
  color: #ee3766;
}

/* line 36, ../sass/partials/_typography.scss */
.body-copy a {
  color: #ffce06;
}

/* line 42, ../sass/partials/_typography.scss */
.link--highlight {
  text-decoration: underline;
}

/*------------------------------------*\
    #NAV
\*------------------------------------*/
/* line 51, ../sass/partials/_typography.scss */
.nav2__link {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  font-size: 13px;
  font-size: 0.8rem;
  line-height: 13px;
  line-height: 0.82813rem;
  margin-left: 0.5rem;
  letter-spacing: 0.5px;
  color: #fff8cd;
  background-color: #1e1e1a;
  text-transform: uppercase;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #fff8cd;
}

/* line 70, ../sass/partials/_typography.scss */
.nav2__link:first-child {
  margin-left: 0;
}

/* line 74, ../sass/partials/_typography.scss */
.nav2__link:hover {
  cursor: pointer;
  color: #1e1e1a;
  background-color: #ee3766;
  border-color: #ee3766;
}

/* line 81, ../sass/partials/_typography.scss */
.nav2__link--next-tag {
  font-size: 8px;
  font-size: 0.5rem;
  line-height: 8px;
  line-height: 0.51563rem;
  font-weight: 500;
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
/* line 92, ../sass/partials/_typography.scss */
.site-header__site-title-container__site-title {
  font-size: 32px;
  font-size: 2rem;
  line-height: 32px;
  line-height: 2.01563rem;
  font-weight: 500;
  margin-top: 8px;
  margin-top: 0.5rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

/* line 98, ../sass/partials/_typography.scss */
.page-header__subheader {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  line-height: 2rem;
  font-weight: 200;
}

/* line 103, ../sass/partials/_typography.scss */
.context-container__axis-container,
#context-container__axis-container__axis {
  font-size: 13px;
  font-size: 0.8rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 112, ../sass/partials/_typography.scss */
#context-container__axis-container__axis {
  font-weight: 100;
}

/*------------------------------------*\
    #TIMELINE
\*------------------------------------*/
/* line 120, ../sass/partials/_typography.scss */
.album-container__label-container__label {
  font-size: 32px;
  font-size: 2rem;
  line-height: 32px;
  line-height: 2.01563rem;
  font-weight: 500;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 127, ../sass/partials/_typography.scss */
.track-container__label-container {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

/* line 140, ../sass/partials/_typography.scss */
.track-container:hover {
  cursor: pointer;
  background-color: #292925;
}
/* line 144, ../sass/partials/_typography.scss */
.track-container:hover .track-container__label-container__label {
  color: #ee3766;
}

/* line 150, ../sass/partials/_typography.scss */
.track-container--collapsed .track-container__label-container__label {
  overflow: hidden;
  font-size: 13px;
  font-size: 0.8rem;
  line-height: 24px;
  line-height: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-weight: 300;
}

/* line 164, ../sass/partials/_typography.scss */
.track-container--expanded {
  border-top: 1px dotted #fff8cd;
  border-bottom: 1px dotted #fff8cd;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 8px;
  padding-top: 0.5rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}
/* line 169, ../sass/partials/_typography.scss */
.track-container--expanded .track-container__label-container__label {
  font-size: 64px;
  font-size: 4rem;
  line-height: 64px;
  line-height: 4.01563rem;
  font-weight: 100;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  color: #ee3766;
}

/* line 183, ../sass/partials/_typography.scss */
.track-container__graphic-container__notes-container__note-list {
  margin-top: 16px;
  margin-top: 1rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  list-style-type: disc;
  padding-left: 1.1rem;
}

/* line 189, ../sass/partials/_typography.scss */
.note-list__note {
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

/*------------------------------------*\
    #HOME
\*------------------------------------*/
/* line 197, ../sass/partials/_typography.scss */
.index__store-box__text-container {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  line-height: 2rem;
  font-weight: 200;
}

/* line 203, ../sass/partials/_typography.scss */
.index__signup-box__copy {
  font-size: 13px;
  font-size: 0.8rem;
  line-height: 20px;
  line-height: 1.25rem;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/
/* line 5, ../sass/partials/_skin.scss */
html {
  background-color: #1e1e1a;
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
/* line 18, ../sass/partials/_skin.scss */
.nav__link {
  border-bottom: 1px solid #fff8cd;
}

/* line 22, ../sass/partials/_skin.scss */
.nav__link:hover {
  border-bottom: 1px solid #ee3766;
}
/* line 24, ../sass/partials/_skin.scss */
.nav__link:hover a {
  color: #ee3766;
}

/*------------------------------------*\
    #TIMELINE
\*------------------------------------*/
/* line 36, ../sass/partials/_skin.scss */
.album-container {
  border-top: 1px solid #fff8cd;
}
