/*------------------------------------*\
    #THIRD-PARTY-IMPORTS
\*------------------------------------*/
/* line 5, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*------------------------------------*\
    #MY-MODULES
\*------------------------------------*/
/* line 31, ../sass/modules/_colors.scss */
.segment {
  fill: #74c044;
  background-color: #74c044;
}

/* line 37, ../sass/modules/_colors.scss */
#legend-segment-chorus {
  background-color: #ffce06;
}

/* line 38, ../sass/modules/_colors.scss */
#legend-segment-verse {
  background-color: #57caef;
}

/* line 39, ../sass/modules/_colors.scss */
#legend-segment-bridge {
  background-color: #ee3766;
}

/* line 40, ../sass/modules/_colors.scss */
#legend-segment-unique {
  background-color: #74c044;
}

/* line 41, ../sass/modules/_colors.scss */
#legend-segment-variation {
  background-color: #74c044;
}

/* line 42, ../sass/modules/_colors.scss */
#legend-segment-solo {
  background-color: #74c044;
}

/* line 43, ../sass/modules/_colors.scss */
#legend-segment-intro {
  background-color: #555244;
}

/* line 46, ../sass/modules/_colors.scss */
.segment_intro,
.segment_outro,
.segment_outro_a,
.segment_outro_b,
.segment_outro_--fade-out--,
.segment_silence,
.segment_postscript,
.segment_closing {
  fill: #555244;
  background-color: #555244;
}

/* line 59, ../sass/modules/_colors.scss */
.segment_verse,
.segment_versea,
.segment_verseb,
.segment_verse_b_guitar,
.segment_verse_a,
.segment_verse_b,
.segment_verse_--initial--,
.segment_verse_--variant--,
.segment_verse_--variant_1--,
.segment_verse_--variant_2--,
.segment_verse_--variant_2_with_ending--,
.segment_verse_refrain,
.segment_verseguitar,
.segment_verse_guitar,
.segment_verse_instr,
.segment_verse_piano,
.segment_verse_--guitar_solo--,
.segment_verse_--half_solo--,
.segment_verse_half_solo,
.segment_verse_-_break,
.segment_verse_with_ending,
.segment_verse_outro,
.segment_outro_verse {
  fill: #57caef;
  background-color: #57caef;
}

/* line 88, ../sass/modules/_colors.scss */
.segment_chorus,
.segment_refrain,
.segment_refrain_trans,
.segment_refrain_solo,
.segment_refrain_a,
.segment_refrain_b,
.segment_refrain_b_fade,
.segment_verseb_MD_or_chorus {
  fill: #ffce06;
  background-color: #ffce06;
}

/* line 101, ../sass/modules/_colors.scss */
.segment_instrumental,
.segment_verse_guitar_solo,
.segment_sitar_solo,
.segment_guitar_solo,
.segment_verse_instrumental,
.segment_vocal,
.segment_verse_instrumental_solo {
  fill: #ee3766;
  background-color: #ee3766;
}

/* line 112, ../sass/modules/_colors.scss */
.segment_refrain_with_ending {
  fill: #57caef;
  background-color: #57caef;
}

/* line 117, ../sass/modules/_colors.scss */
.segment_bridge,
.segment_bridge_--solo--,
.segment_bridge_instru,
.segment_bridge_instr,
.segment_bridge_with_ending,
.segment_break,
.segment_bridge_re_intro {
  fill: #ee3766;
  background-color: #ee3766;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}
/*------------------------------------*\
    #CONFIGURE-COMPASS-VERTICAL-RHYTHM
\*------------------------------------*/
/* line 106, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 41, ../sass/partials/_base.scss */
html {
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5rem;
}

/*------------------------------------*\
    #DEBUGGING
\*------------------------------------*/
/*------------------------------------*\
    #CONFIG-SUSY
\*------------------------------------*/
/* line 14, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* #SUSY-GRID-VARIABLES------------ */
/* #CONFIG-GRID-MAIN------------ */
/* line 31, ../sass/partials/_grid.scss */
.grid--main {
  max-width: 944px;
  max-width: 59rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 64rem;
}
/* line 12, ../../../../../../.rvm/gems/ruby-2.0.0-p247@rails4/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.grid--main:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 43, ../sass/partials/_grid.scss */
html, body {
  height: 100%;
  margin: 0;
}

/* line 49, ../sass/partials/_grid.scss */
svg {
  border: 2px solid green;
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
/* line 59, ../sass/partials/_grid.scss */
.site-header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 8px;
  margin-top: 0.5rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 64, ../sass/partials/_grid.scss */
.page-header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/*------------------------------------*\
    #CONTEXT-CONTAINER
\*------------------------------------*/
/* line 73, ../sass/partials/_grid.scss */
#context-container-wrapper {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}

/* line 78, ../sass/partials/_grid.scss */
#context-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background-color: #1e1e1a;
}

/*------------------------------------*\
    #TIMELINE
\*------------------------------------*/
/*------------------------------------*\
    #TYPE-VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/
/* line 16, ../sass/partials/_typography.scss */
html {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  color: #fff8cd;
}

/* line 21, ../sass/partials/_typography.scss */
a {
  color: #fff8cd;
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/
/* line 5, ../sass/partials/_skin.scss */
html {
  background-color: #1e1e1a;
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
