$text: #fff8cd;
$text-secondary: #555244;

$background: #1e1e1a;
// $background: black;
$background-light: tint($background, 5);

$pink: #ee9e9c;
$gold: #fae7b3;
$orange: #f09671;
$green: #709984;
$cyan: #71dad2;



// Segment Colors
// ====================================
$blue: #57caef;
$yellow: #ffce06;
$green: #74c044;
$pink: #ee3766;
$text-secondary: #555244;



// NEWNEWNEW
$purple: #A052A0;
$grey-legend: #666666;
$red: #ED2126;
// NEWNEWNEW

$intro-outro: $text-secondary;
$verse: $blue;
$chorus: $yellow;
$bridge: $pink;
$break: $green;

$instrumental: $green;


.segment {
    fill: $instrumental;
    background-color: $instrumental;
}


#legend__segment-chorus { background-color: $chorus; }
#legend__segment-verse { background-color: $verse; }
#legend__segment-bridge { background-color: $bridge; }
#legend__segment-unique { background-color: $instrumental; }
#legend__segment-variation { background-color: $instrumental; }
#legend__segment-solo { background-color: $instrumental; }
#legend__segment-intro { background-color: $intro-outro; }


#legend__authorship__paul { background-color: $yellow; }
#legend__authorship__john { background-color: $blue; }
#legend__authorship__george { background-color: $green; }
#legend__authorship__ringo { background-color: $purple; }
#legend__authorship__other { background-color: $grey-legend; }
#legend__authorship__cowritten { background-color: $red; }



.segment_silence {
  fill: $background;
  background-color: $background;
}

.segment_intro,
.segment_outro, 
.segment_intro--variant,
.segment_outro--variant {
  fill: $intro-outro;
  background-color: $intro-outro;
}

.segment_verse,
.segment_verse--variant,
.segment_verse--instrumental, {
  fill: $verse;
  background-color: $verse;
}

.segment_chorus,
.segment_chorus--variant,
.segment_chorus--instrumental, {
  fill: $chorus;
  background-color: $chorus;
}

.segment_bridge,
.segment_bridge--variant,
.segment_bridge--instrumental, {
  fill: $bridge;
  background-color: $bridge;
}

.segment_break,
.segment_break--variant,
.segment_break--instrumental, {
  fill: $break;
  background-color: $break;
}

