$text: #fff8cd;
$text-secondary: #555244;

$background: #1e1e1a;
// $background: black;
$background-light: tint($background, 5);

$pink: #ee9e9c;
$gold: #fae7b3;
$orange: #f09671;
$green: #709984;
$cyan: #71dad2;



// Segment Colors
// ====================================
$blue: #57caef;
$yellow: #ffce06;
$green: #74c044;
$pink: #ee3766;
$text-secondary: #555244;



// NEWNEWNEW
$purple: #A052A0;
$grey-legend: #666666;
$red: #ED2126;
// NEWNEWNEW

$intro-outro: $text-secondary;
$verse: $blue;
$chorus: $yellow;
$bridge: $pink;
$break: $green;

$instrumental: $green;



@mixin pattern-dots4($color: $background, $dotSize: 3){
  // background-color: $verse;
  background-image:
  radial-gradient($color $dotSize * 8%, transparent $dotSize * 8% + 2%),
  radial-gradient($color $dotSize * 8%, transparent $dotSize * 8% + 2%);
  background-size:$dotSize * 2px $dotSize * 2px;
  background-position: 0 0, $dotSize * 1px $dotSize * 1px;
}


@mixin pattern-zigzags($color: $background) {

  background: 
  linear-gradient(135deg, $color 25%, transparent 25%) -2px 0,
  linear-gradient(225deg, $color 25%, transparent 25%) -2px 0,
  linear-gradient(315deg, $color 25%, transparent 25%),
  linear-gradient(45deg, $color 25%, transparent 25%); 
  background-size: 4px 4px;
  background-color: transparent;

}








.segment {
    float: left;
    fill: $instrumental;
    background-color: $instrumental;
    border-right: 1px solid $background;
}

.segment--empty {
  border-right: none;
}

// LEGEND'S GRID ----------------
.legend-item {
  display: inline;
}

.legend__segment {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-right: 0.25rem;
}

.legend__chip {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
// -----------------------------
// LEGEND'S TYPOGRAPHY

.legend-item {
  color: $background;
}

.legend-item--chip {
  color: $text;
}

#legend__segment-chorus { background-color: $chorus; }
#legend__segment-verse { background-color: $verse; }
#legend__segment-bridge { background-color: $bridge; }
#legend__segment-break { background-color: $break; }
#legend__segment-intro { background-color: $intro-outro; }
#legend__segment-instrumental { 
  background-color: $instrumental; 
  @include pattern-zigzags($text); 
  // border: 1px solid red;
}
#legend__segment-variant { 
  background-color: $text; 
  @include pattern-dots4();
}

#legend__authorship--john { background-color: $blue; }
#legend__authorship--paul { background-color: $yellow; }
#legend__authorship--george { background-color: $green; }
#legend__authorship--ringo { background-color: $purple; }
#legend__authorship--other { background-color: $grey-legend; }
#legend__authorship--cowritten { 
  background-color: $pink;
  }

#legend__selfreference--implicit { background-color: $pink; }
#legend__selfreference--explicit { background-color: $yellow; }
#legend__selfreference--melodic { background-color: $blue; }

#legend__schedule--recording { background-color: $pink; }
#legend__schedule--filming { background-color: $yellow; }
#legend__schedule--touring { background-color: $blue; }

#legend__tonality--major { background-color: $yellow; }
#legend__tonality--minor { background-color: $blue; }
#legend__tonality--diatonic { background-color: $pink; }



.segment_intro--variant,
.segment_outro--variant,
.segment_verse--variant,
.segment_chorus--variant,
.segment_bridge--variant,
.segment_break--variant {
  @include pattern-dots4();
}

.segment_verse--instrumental,
.segment_chorus--instrumental,
.segment_bridge--instrumental,
.segment_break--instrumental {
  @include pattern-zigzags(); 
}


.segment_silence {
  // fill: $background;
  // background-color: $background;
  fill: $intro-outro;
  background-color: $intro-outro;
  border-right: none;
}

.segment_intro,
.segment_outro, 
.segment_intro--variant,
.segment_outro--variant {
  fill: $intro-outro;
  background-color: $intro-outro;
}

.segment_verse,
.segment_verse--variant,
.segment_verse--instrumental, {
  fill: $verse;
  background-color: $verse;
}

.segment_chorus,
.segment_chorus--variant,
.segment_chorus--instrumental, {
  fill: $chorus;
  background-color: $chorus;
}

.segment_bridge,
.segment_bridge--variant,
.segment_bridge--instrumental, {
  fill: $bridge;
  background-color: $bridge;
}

.segment_break,
.segment_break--variant,
.segment_break--instrumental, {
  fill: $break;
  background-color: $break;
}


.span--i_ntro {
  color: tint($intro-outro, 30);
}

.span--v_erse {
  color: $verse;
}

.span--c_horus {
  color: $chorus;
}

.span--b_ridge {
  color: $bridge;
}


.span--i_nstrumental {
  color: white;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: white;
}

.span--v_ariant {
  color: white;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: white;
}


.author--0 { background-color: $yellow }
.author--1 { background-color: $blue }
.author--2 { background-color: $green }
.author--3 { background-color: $purple }
.author--4 { background-color: $intro-outro }

