/*------------------------------------*\
    #CONFIG-SUSY
\*------------------------------------*/

@include border-box-sizing;

/* #SUSY-GRID-VARIABLES------------ */
$med: 40rem;
$max-width: 64rem;

$column-width: 4rem;
$gutter-width: 1rem;

$container-margin: 2rem;
$bleed-margin: 0 4rem;


/* #CONFIG-GRID-MAIN------------ */
$susy: (
  columns: 12,
  container: auto,
  container-position: center,
  global-box-sizing: border-box,
  gutter-position: after,
  use-custom: (
    rem: true
  )
);


.grid--main {
    @include container(12 ($column-width $gutter-width) );
    // @include container(6 ($column-width $gutter-width) show );

    padding-left: $container-margin;
    padding-right: $container-margin;
    max-width: $max-width;
}




html, body {
  height: 100%;
  margin: 0;
}


svg {
  // @include border(green);
}


/*------------------------------------*\
    #HEADER
\*------------------------------------*/


.site-header {
  @include span(12 of 12);
  @include rhythm(1,0,0,3);
}

.page-body-container {
  @include span(12 of 12);  
}

.page-header {
  @include span(8 of 12);
  @include rhythm(0,0,0,3);
}

.site-header__site-title-container,
.site-header__site-title-container__site-title {
  @include span(12 of 12);
}

.site-header__nav {
  @include span(12 of 12);
}

.nav__link {
  @include span(2 of 12);
  @include rhythm(0,0,0,1);
}

#nav__link--6 {
  @include span(last 2 of 12);
}


/*------------------------------------*\
    #STATIC-GRAPHICS
\*------------------------------------*/

.static-graphic {
  @include span(12 of 12);
  // width: 100%;
}

/*------------------------------------*\
    #CONTEXT-CONTAINER
\*------------------------------------*/

#context-container-wrapper {
  @include span(12 of 12);
  @include rhythm(0,0,0,6);
}

#context-container,
.context-container__legend-container,
.context-container__axis-container {
  @include span(12 of 12);
  background-color: $background;
}

#context-container__axis-container__axis {
  // @include push(3 of 12);
  // padding-left: span(3);
}

.context-container__legend-container {
  @include rhythm(0,1,0,1);
}

.legend__segment {
  display: inline;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-right: 0.25rem;
  color: $background;
}

/*------------------------------------*\
    #TIMELINE
\*------------------------------------*/

.album-container,
.album-container__label-container,
.track-container {
  @include span(12 of 12);
}


.album-container {
  @include rhythm(0,2,0,6);
}


.track-container__label-container {
  @include span(3 of 12);  
}

.track-container__graphic-container {
  @include span(last 9 of 12);  
}
