/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/

html {
  background-color: $background;
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header {
  // background-color: grey;
}

.nav__link {
  border-bottom: 1px solid $text;
}

.nav__link:hover {
  border-bottom: 1px solid $pink;
  a {
    color: $pink;
  }
}



/*------------------------------------*\
    #TIMELINE
\*------------------------------------*/


.album-container {
  border-top: 1px solid $text;
}

.context-container__axis-container__pusher {
  // border-bottom: 1px solid $text;
}


.album-container:first-child {
  border-top: none;
}