/*------------------------------------*\
    #TYPE-VARIABLES
\*------------------------------------*/


@mixin type-main() {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
}


/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/

html {
  @include type-main;
  color: $text;
}

.body-copy {
  @include rhythm(0,0,0,2);
  font-weight: 100;
}

a {
  color: $text;
  // text-decoration: none;
}

a:hover,
.body-copy a:hover {
  color: $pink;
}

.body-copy a {
  // color: $yellow;
}



.link--highlight {
  text-decoration: underline;
}


/*------------------------------------*\
    #NAV
\*------------------------------------*/

nav {
  display: none;
  @include breakpoint($med) {
    display: block;
  }
}

.nav2__link {
  @include type-main;
  @include adjust-font-size-to(0.8rem);
  margin-left: 0.5rem;
  // font-weight: 800;
  letter-spacing: 0.5px;
  color: $text;
  background-color: $background;
  text-decoration: none;
  
  // @include border-radius(0.15rem, 0.15rem);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;

  border: 1px solid $text;
}

.nav2__link:first-child {
  margin-left: 0;
}

.nav2__link:hover {
  cursor: pointer;
  color: $background;
  background-color: $pink;
  border-color: $pink;
}

.nav2__link--next-tag {
  @include adjust-font-size-to(0.5rem);
  font-weight: 500;
}



/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.site-header {
    @include rhythm(4,0,0,1);
}

.site-header__site-title-container__site-title {
  // @include adjust-font-size-to(1.5rem);
  font-weight: 500;
  color: $pink;
}

.site-header__site-title-container__site-title .headline {
  // @include adjust-font-size-to(1.5rem);
  font-weight: 500;
}

.site-header__site-title-container__site-title,
.site-header__site-title-container__site-title a {
  text-decoration: none;
}


.site-header__site-title-container--home a.site-header__site-title-container__site-title:hover {
  cursor: default !important;
}

.site-header__site-title-container--subpage .site-header__site-title-container__site-title:hover {
  color: $text;
}

.headline {
  @include adjust-font-size-to(3rem, 6);
  font-weight: 500;
  @include rhythm(0,0,0,0);
}

.subhead {
  @include adjust-font-size-to(1.5rem, 3.5);
  // font-weight: 500;
  @include rhythm(0,0,0,3);
}

.text-block__header {
  @include adjust-font-size-to(1.5rem, 3.5);
  font-weight: 500;
  @include rhythm(0,0,0,0);
}

.text-block__header--home {
  color: $text;
}

.context-container__axis-container,
#context-container__axis-container__axis {
  @include adjust-font-size-to(0.8rem, 3);
}

.context-container__axis-container__pusher {

}

#context-container__axis-container__axis {
  font-weight: 100;
}

/*------------------------------------*\
    #TIMELINE
\*------------------------------------*/

.album-container__label-container__label {
  @include adjust-font-size-to(2rem);
  font-weight: 500;
  @include rhythm(0,0,0,3);
}


.album-container__label-container__year {
  @include adjust-font-size-to(1.5rem);
  font-weight: 100;
}

.track-container__label-container {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;

}

// .track-container__label-container__label {
//   @include adjust-font-size-to(0.8rem, 3);
//   @include ellipsis;
//   text-transform: uppercase;
//   font-family: 'Roboto Condensed', sans-serif;
//   font-weight: 300;
// }

.track-container:hover {
  cursor: pointer;
  background-color: $background-light;

  .track-container__label-container__label {
    color: $pink;
  }
}


.track-container--expanded:hover {
  background-color: $background;
}

.track-container__label-container {
  @include adjust-font-size-to(0.8rem, 3);
}

.track-container--collapsed {
  .track-container__label-container__label {
    overflow: hidden;
    // @include adjust-font-size-to(0.8rem, 3);
    @include ellipsis;
    font-weight: 300;
  }

  // .track-container__graphic-container__notes-container,
  // .notes-container__note {
  //   display: hidden;
  //   @include border(green);
  // }
}

.track-container--expanded {
  @include rhythm(2,0,2,1);

  .track-container__label-container__label {
    color: $pink;
    @include adjust-font-size-to(2rem);
    font-weight: 300;

    text-overflow: initial;
    overflow: visible;
    white-space: normal;

    @include breakpoint($med){
     @include adjust-font-size-to(3rem);
      font-weight: 100;
      @include rhythm(0,0,0,3);
    }

    @include breakpoint($large){
     @include adjust-font-size-to(4rem);
    }
  }

  // .track-container__graphic-container__notes-container,
  // .notes-container__note {
  //   display: block;
  //   @include border(red);
  // }


  .segment {
    height: 60px !important;
  }
}

.track-container--expanded  .track-container__graphic-container {
  border-top: 1px solid $text;
  @include rhythm(0,1,0,0);
}


.track-container__graphic-container__notes-container__note-list {
  @include rhythm(2,0,0,0);
  list-style-type: disc;
  padding-left: 1.1rem;
}

.note-list__note {
  @include rhythm(0,0,0,1);
}


/*------------------------------------*\
    #HOME
\*------------------------------------*/


.index-item {
  @include rhythm(0,0,0,8);
}

.index-item a {
  text-decoration: none;
}

.index-item .subhead {
  @include rhythm(0,0,0,1);
}

.index-item:hover {
  a {
    color: $pink;
  }

  .index-item a.headline:hover {
    color: $pink;
  }
}

// .index-item:hover:after {
//   content: "Open";
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   text-align: center;
//   @include adjust-font-size-to(6rem, 4);
//   text-transform: uppercase;
//   font-family: 'Roboto Condensed', sans-serif;
// }



.index__store-box__text-container {
  @include adjust-font-size-to(1.5rem, 4);
  font-weight: 200;
}


.index__signup-box__copy {
  @include adjust-font-size-to(0.8rem, 2.5);
  @include rhythm(0,0,0,1);
}



.for-hire-message {
  @include adjust-font-size-to(0.8rem);

}
