/*------------------------------------*\
    #TYPE-VARIABLES
\*------------------------------------*/


@mixin type-main() {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
}


/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/

html {
  @include type-main;
  color: $text;
}

a {
  color: $text;
}



/*------------------------------------*\
    #HEADER
\*------------------------------------*/




/*------------------------------------*\
    #TIMELINE
\*------------------------------------*/

.album-container__label-container__label {
  @include adjust-font-size-to(3rem);
  @include rhythm(0,0,0,3);
}